/*Main Styles*/
@font-face {
				font-family: Interstate-Thin;
				src:	url("../fonts/Interstate-Thin.otf"),
						url("../fonts/Interstate-Thin.ttf");
			}
			@font-face {
				font-family: Interstate-Light;
				src:url("../fonts/Interstate-Light.otf"),
					url("../fonts/Interstate-Light.ttf");
			}
			@font-face {
				font-family: Interstate-Bold;
				src:url("../fonts/Interstate-Bold.otf"),
					url("../fonts/Interstate-Bold.ttf");
			}
			@font-face {
				font-family: Interstate-Regular;
				src:url("../fonts/Interstate-Regular.otf"),
					url("../fonts/Interstate-Regular.ttf");
			}
			@font-face {
				font-family: Interstate-ExtraLight;
				src:url("../fonts/Interstate-ExtraLight.otf"),
					url("../fonts/Interstate-ExtraLight.ttf");
			}
			@font-face {
				font-family: Interstate-Lightitalic;
				src:url("../fonts/Interstate-Lightitalic.otf"),
					url("../fonts/Interstate-Lightitalic.ttf");
			}
body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	background-color: #000;
}
#playToggle {
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: 980;
	top:0;
}
#fullscreen {
	width: 300px;
	height: 20px;
	position: absolute;
	z-index: 999;
}
#videoAct1, #videoAct2, #videoAct3, #videoAct4, #videoAct5, #motionDams, #motionPopulation, #motionDeltaMead {
	z-index: -1000;
	position: absolute;
	/*min-width: 960px;*/
	/*min-height: 540px;*/
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.pageWrapper {
	min-width: 960px;
	position: relative;
	margin: auto;
	overflow: hidden;
}
#loadingWrapper {
	background-color: red;
	margin-left: auto;
	margin-right: auto;
}
#pageWrapper:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
#pageWrapper:-moz-full-screen {
    width: 100%;
    height: 100%;
  }
 .ui-tooltip {
	padding: 8px;
	color: #fff;
	font-family: 'Interstate-Regular';
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-moz-text-shadow: 3px 3px 10px #000;
	-webkit-text-shadow: 3px 3px 10px #000;
	text-shadow: 3px 3px 10px #000;
}



/*Second Level Content*/
#powellExtendedText, #landgrabText, #addictedText, #damagesText {
	color: #fff;
	font-family: 'Interstate-Regular';
	font-size: 25px;
	line-height: 35px;
	width: 65%;
	height: 65%;
	position: absolute;
	overflow: scroll;
	left: 5%;
	top: 5%;
	z-index: 998;
	-moz-text-shadow: 3px 3px 10px #000;
	-webkit-text-shadow: 3px 3px 10px #000;
	text-shadow: 3px 3px 10px #000;
	padding: 0;
	margin: 0;
}
#powellExtendedText h4, #landgrabText h4, #addictedText h4, #damagesText h4 {
	padding: 0;
	margin: 0;
	font-size: 30px;
}
#motionIntake, #motionImperial, #motionHoover {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 981;
}
#motionIntakeButton, #motionImperialButton, #motionHooverButton {
	bottom: 250px;
}
.secondLevelToggle {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 985;
}
.extendedTextBackground {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 984;
}




/*Preload Screen*/
#preloadScreen {
	color: #fff;
	position: absolute;
	top: 50%;
	padding: 0;
	text-align: center;
	margin: 0 auto;
	height: 250px;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}


/*Video Controls*/
.videoControls {
	position: absolute;
	z-index: 999;
	bottom: 10px;
	width: inherit;
	margin: 0 auto;
}
#progressBar {
		height: 72px;
	}
	.videoControls {
		bottom: 0;
	}
	#menuItems {
		bottom: 0;
		position: absolute;
		z-index: 999;
		width: 100%;
		font-family: 'Interstate-ExtraLight';
		font-size: 15px;
		color: #fff;
	}
	#menuItems a {
		text-decoration: none;
		color: #fff;
	}
	#menuItems a:hover {
		text-decoration: none;
		color: #fff;
	}
	#shareTwitter {
		position: absolute;
		z-index: 999;
		bottom: 0;
	}
	#shareFacebook {
		position: absolute;
		z-index: 999;
		bottom: 2px;
		float: left;
		left: 39px;
	}
	#shareGooglePlus {
		position: absolute;
		z-index: 999;
		bottom: 1px;
		left: 60px;
	}
	#fullscreenOn {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 7px;
	}
	#fullscreenOff {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 7px;
	}
	#soundOn {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 52px;
	}
	#soundOff {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 52px;
	}
	#shareText {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		left: 110px;
	}
	#creditsToggle {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 125px;
	}
	#aboutToggle {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 210px;
	}
	#editorialToggle {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 310px;
	}
	#copyrightText {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 480px;
		opacity: 0.6;
	}
#additionalContentBackground {
	position: absolute;
	z-index: 985;
	background-color:black;
	opacity: 0.75;
}
.additionalContentToggle:hover {
	cursor: pointer;
}
#closeOverlay {
	position: absolute;
	z-index: 986;
	top:0;
	right:0;
	padding: 5px;
}
#closeOverlay:hover {
	cursor: pointer;
}
#progressCircle {
	background-color: #fff;
}
.videoWrapper {
	height: inherit;
	width: inherit;
}
circle#drag:hover {
	cursor: pointer;
}
#progressWrapper:hover {
	cursor: pointer;
}
/*#progressClickOverlay {
	height: 2em;
}*/
#progressClickOverlay:hover, #progressLine:hover, .diamonds:hover, #fullscreenOn:hover, #fullscreenOff:hover, #soundOn:hover, #sondOff:hover {
	cursor: pointer;
}
#playerOptions {
	right: 15px;
}
#fullscreenOff {
	height: 31px;
	overflow: hidden;
}


/*Overlays*/
#playImage {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 50%;
}
#pauseImage {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 50%;
}
#dragWrapper {
	position: absolute;
	z-index: 997;
	bottom: 25px;
}
#resumeVideo {
	position: absolute;
	z-index: 997;
}
#dragArrow {
	position: absolute;
	z-index: 997;
}
g#dragButton {
	position: absolute;
	z-index: 999;
	bottom:0;
}
g#dragButton:hover {
	cursor: pointer;
}
#dragPath {
	position: absolute;
	z-index: 998;
	bottom: 36px;
	left:54px;
	/*bottom: 50px*/
}
.clickForMore {
	position: absolute;
	z-index: 999;
	bottom: -145px;
	left:0;
}
#motionDeltaMeadButton {
	position: absolute;
	z-index: 999;
	bottom: 100px;
	left: 2%;
	top: 35%;
}
#motionPopulationButton {
	position: absolute;
	z-index: 999;
	bottom: 100px;
	left: 3%;
	top: 35%;
}
#motionDamsButton {
	position: absolute;
	z-index: 999;
	top: 70%;
	left: 3%;
}
.clickForMore:hover {
	cursor: pointer;
}
 

/*Video Loops*/
.videoLoop, .videoLoopContainer {
	position: absolute;
	z-index: 996;
	min-width: 960px;
	height:100%;
	width: 100%;
	width: inherit;
	height: inherit;
	overflow: hidden;
	background-color: #000;
	/*display: none;*/
}
#videoAct1Loop, #videoAct2Loop, #videoAct3Loop, #videoAct4Loop, #videoAct5Loop {
	position: absolute;
	z-index: 980;
	min-width: 960px;
	height:100%;
	width: 100%;
	width: inherit;
	height: inherit;
	overflow: hidden;
	background-color: #000;
	/*display: none;*/
}
.overlayWrapper {
	height: inherit;
	width: inherit;
	position: absolute;
	z-index: 995;
	margin: 0 auto;
	bottom: 0;
	/*display: none;*/
}
.textOverlay {
	color: #fff;
	font-family: 'Interstate-Regular';
	font-size: 30px;
	line-height: 40px;
	width: 65%;
	position: absolute;
	left: 5%;
	top: 5%;
	z-index: 998;
	-moz-text-shadow: 3px 3px 10px #000;
	-webkit-text-shadow: 3px 3px 10px #000;
	text-shadow: 3px 3px 10px #000;
}
.advanceSlide {
	position: absolute;
	z-index:999;
	bottom:-130px;
	left:0;
}
.advanceSlide:hover {
	cursor: pointer;
}


/*Progress Bar*/
.pauseDiamond rect {
	stroke: white;
	stroke-width: 2;
	fill: white;
	/*opacity: 0;*/
}
