/*Main Styles*/
			@font-face {
				font-family: Interstate-Thin;
				src:	url("../fonts/Interstate-Thin.otf"),
						url("../fonts/Interstate-Thin.ttf");
			}
			@font-face {
				font-family: Interstate-ThinCondensed;
				src:	url("../fonts/Interstate-ThinCondensed.otf"),
						url("../fonts/Interstate-Thin.ttf");
			}
			@font-face {
				font-family: Interstate-Light;
				src:url("../fonts/Interstate-Light.otf"),
					url("../fonts/Interstate-Light.ttf");
			}
			@font-face {
				font-family: Interstate-Bold;
				src:url("../fonts/Interstate-Bold.otf"),
					url("../fonts/Interstate-Bold.ttf");
			}
			@font-face {
				font-family: Interstate-Bold;
				src:url("../fonts/Interstate-BoldCondensed.otf"),
					url("../fonts/Interstate-Bold.ttf");
			}
			@font-face {
				font-family: Interstate-Regular;
				src:url("../fonts/Interstate-Regular.otf"),
					url("../fonts/Interstate-Regular.ttf");
			}
			@font-face {
				font-family: Interstate-RegularCondensed;
				src:url("../fonts/Interstate-RegularCondensed.otf"),
					url("../fonts/Interstate-Regular.ttf");
			}
			@font-face {
				font-family: Interstate-ExtraLight;
				src:url("../fonts/Interstate-ExtraLight.otf"),
					url("../fonts/Interstate-ExtraLight.ttf");
			}
			@font-face {
				font-family: Interstate-Lightitalic;
				src:url("../fonts/Interstate-Lightitalic.otf"),
					url("../fonts/Interstate-Lightitalic.ttf");
			}
body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}
#playToggle {
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: 980;
	top:0;
}
#fullscreen {
	width: 300px;
	height: 20px;
	position: absolute;
	z-index: 999;
}
#videoAct1, #videoAct2, #videoAct3, #videoAct4, #videoAct5, #motionDams, #motionPopulation, #motionDeltaMead {
	z-index: 1;
	position: absolute;
	/*min-width: 960px;*/
	/*min-height: 540px;*/
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#pageWrapper {
	background-color: #000;
}
.pageWrapper {
	min-width: 960px;
	position: relative;
	margin: auto;
	overflow: hidden;
}
#videoIntro {
	z-index: -1000;
	position: absolute;
	/*min-width: 960px;*/
	/*min-height: 540px;*/
	height: 100%;
	width: 100%;
	overflow: hidden;
	left: 0;
}
.introSentences {
	width: 100%;
	background-color: #000;
}
#loadingWrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#pageWrapper:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
#pageWrapper:-moz-full-screen {
    width: 100%;
    height: 100%;
  }
 .ui-tooltip {
	padding: 8px;
	color: #fff;
	font-family: 'Interstate-Regular';
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-moz-text-shadow: 3px 3px 10px #000;
	-webkit-text-shadow: 3px 3px 10px #000;
	text-shadow: 3px 3px 10px #000;
}



/*Preloader*/
.introSentences {
		font-family: 'Interstate-Regular';
		font-size: 55px;
		padding: 10px 50px;
	}
	#introSentence1 {
		padding-top: 40px;
	}
	.vjs-control {
		display: none;
	}
	.circleDraw {
		position: absolute;
		width: 354px;
		height: 354px;
		top: 0;
		left: 0;
		z-index: 980;
		opacity: 0.6;
	}






/*Second Level Content*/
.jspTrack, .jspVerticalBar {
	background: transparent !important;
}
.jspDrag {
	background: #fff !important;
	-moz-border-radius: 15px;
	border-radius: 10px;
	width: 12px;
}
.pullQuote {
	float: left;
	text-align: right;
	font-family: 'Interstate-Regular';
	font-size: 24px;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 19px;
	width: 50%;
	padding-right: 10px;
	border-right: 3px solid #fff;
}
.pullQuoteAuthor {
	font-family: 'Interstate-Regular';
	font-size: 20px;
}
.landgrabScroller, .powellScroller, .addictedScroller, .damagesScroller {
	padding-top: 10px;
	height: 100%;
}
#powellExtendedText, #landgrabText, #addictedText, #damagesText {
	color: #fff;
	font-family: 'Interstate-Light';
	font-size: 20px;
	line-height: 30px;
	width: 40%;
	height: 85%;
	position: absolute;
	overflow: hidden;
	/*overflow-x: hidden;*/
	left: 5%;
	top: 5%;
	z-index: 998;
	/*-moz-text-shadow: 3px 3px 10px #000;
	-webkit-text-shadow: 3px 3px 10px #000;
	text-shadow: 3px 3px 10px #000;*/
	margin: 0;
}
#powellExtendedText h2, #landgrabText h2, #addictedText h2, #damagesText h2 {
	font-family: 'Interstate-Regular';
	padding: 0;
	margin: 0;
	font-size: 42px;
	text-align: center;
}
#powellExtendedText h3, #landgrabText h3, #addictedText h3, #damagesText h3 {
	font-family: 'Interstate-LightCondensed';
	text-align: center;
	padding: 0;
	margin: 30px 0 0 0;
	font-size: 26px;
}
#powellExtendedText h5, #landgrabText h5, #addictedText h5, #damagesText h5 {
	font-family: 'Interstate-Thin';
	text-align: center;
	padding: 0;
	margin: 0 0  30px 0;
	font-size: 16px;
}
#powellExtendedText h4, #landgrabText h4, #addictedText h4, #damagesText h4 {
	font-family: 'Interstate-BoldCondensed';
	padding: 0;
	margin: 0;
	font-size: 24px;
	text-align: left;
}
.openingQuote {
	text-align: left;
	font-family: 'Interstate-Lightitalic';
}
.openingQuoteAttribution {
	font-family: 'Interstate-Regular';
}
#motionIntake, #motionImperial, #motionHoover {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 981;
}
#motionIntakeButton, #motionImperialButton {
	top: 50%;
	left: 3%;
}
#motionHooverButton {
	left: 3%;
	top: 44%;
}
.secondLevelToggle {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 985;
}
.extendedTextBackground {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 984;
}
.secondLevelContent a {
	text-decoration: none;
	font-family: 'Interstate-Light';
	color: #fff;
}
.secondLevelContent a:hover {
	text-decoration: none;
	color: #fff;
}




/*Preload Screen*/
#preloadScreen {
	color: #fff;
	position: absolute;
	top: 50%;
	padding: 0;
	text-align: center;
	margin: 0 auto;
	height: 250px;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}


/*Video Controls*/
.videoControls {
	position: absolute;
	z-index: 999;
	bottom: 10px;
	width: inherit;
	margin: 0 auto;
}
#progressBar {
		height: 72px;
	}
	.videoControls {
		bottom: 0;
	}
	#menuItems {
		bottom: 0;
		position: absolute;
		z-index: 999;
		width: 100%;
		font-family: 'Interstate-ExtraLight';
		font-size: 15px;
		color: #fff;
	}
	#menuItems a {
		text-decoration: none;
		color: #fff;
	}
	#menuItems a:hover {
		text-decoration: none;
		color: #fff;
	}
	#shareTwitter {
		position: absolute;
		z-index: 999;
		bottom: 0;
	}
	#shareFacebook {
		position: absolute;
		z-index: 999;
		bottom: 2px;
		float: left;
		left: 39px;
	}
	#shareGooglePlus {
		position: absolute;
		z-index: 999;
		bottom: 1px;
		left: 60px;
	}
	#fullscreenOn {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 7px;
	}
	#fullscreenOff {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 7px;
	}
	#soundOn {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 52px;
	}
	#soundOff {
		position: absolute;
		z-index: 999;
		bottom: 0;
		right: 52px;
	}
	#shareText {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		left: 110px;
	}
	#creditsToggle {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 125px;
	}
	#aboutToggle {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 210px;
	}
	#editorialToggle {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 310px;
	}
	#copyrightText {
		position: absolute;
		z-index: 999;
		bottom: 9px;
		right: 480px;
		opacity: 0.6;
	}
#additionalContentBackground {
	position: absolute;
	z-index: 1100;
	background-color:black;
	opacity: 0.85;
}
.additionalContentToggle:hover {
	cursor: pointer;
}
#closeOverlay {
	position: absolute;
	z-index: 1200;
	top:0;
	right:0;
	padding: 5px;
}
#closeOverlay:hover {
	cursor: pointer;
}
#progressCircle {
	background-color: #fff;
}
.videoWrapper {
	height: inherit;
	width: inherit;
}
circle#drag:hover {
	cursor: pointer;
}
#progressWrapper:hover {
	cursor: pointer;
}
/*#progressClickOverlay {
	height: 2em;
}*/
#progressClickOverlay:hover, #progressLine:hover, .diamonds:hover, #fullscreenOn:hover, #fullscreenOff:hover, #soundOn:hover, #sondOff:hover {
	cursor: pointer;
}
#playerOptions {
	right: 15px;
}
#fullscreenOff {
	height: 31px;
	overflow: hidden;
}
#aboutContent {
	position: absolute;
	font-size: 24px;
	line-height: 30px;
	margin-top: 2%;
	margin-left: 25%;
	width: 50%;
	font-family: 'Interstate-Thin';
}
#aboutContent h3 {
	font-size: 36px;
	text-align: center;
}
.additionalContent {
	position: absolute;
	z-index: 1150;
	color: #fff;
}
.additionalContent a {
	text-decoration: none;
	font-family: 'Interstate-Light';
	color: #fff;
}
.additionalContent a:hover {
	text-decoration: none;
	color: #fff;
}

/*Overlays*/
#playImage {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 50%;
}
#pauseImage {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 50%;
}
#dragWrapper {
	position: absolute;
	z-index: 997;
	bottom: 25px;
}
#resumeVideo {
	position: absolute;
	z-index: 997;
}
#dragArrow {
	position: absolute;
	z-index: 997;
}
g#dragButton {
	position: absolute;
	z-index: 999;
	bottom:0;
}
g#dragButton:hover {
	cursor: pointer;
}
#dragPath {
	position: absolute;
	z-index: 998;
	bottom: 36px;
	left:54px;
	/*bottom: 50px*/
}
#dragWrapper2 {
	position: absolute;
	z-index: 997;
	bottom: 25px;
}
#resumeVideo2 {
	position: absolute;
	z-index: 997;
}
#dragArrow2 {
	position: absolute;
	z-index: 997;
}
g#dragButton2 {
	position: absolute;
	z-index: 999;
	bottom:0;
}
g#dragButton2:hover {
	cursor: pointer;
}
#dragPath2 {
	position: absolute;
	z-index: 998;
	bottom: 36px;
	left:54px;
	/*bottom: 50px*/
}
.clickForMore {
	position: absolute;
	z-index: 999;
	bottom: -145px;
	left:0;
}
#motionDeltaMeadButton {
	position: absolute;
	z-index: 999;
	bottom: 100px;
	left: 2.5%;
	top: 42%;
}
#motionPopulationButton {
	position: absolute;
	z-index: 999;
	bottom: 100px;
	left: 3%;
	top: 35%;
}
#motionDamsButton {
	position: absolute;
	z-index: 999;
	top: 48%;
	left: 3%;
}
.clickForMore:hover {
	cursor: pointer;
}
.showFirst, .showSecond, .showThird, .showFourth, .showFifth, .showSixth, .showSeventh, .showEighth, .showNinth, .showTenth, .showLast {
	opacity: 0;
}
 

/*Video Loops*/
.videoLoop, .videoLoopContainer {
	position: absolute;
	z-index: 996;
	min-width: 960px;
	height:100%;
	width: 100%;
	width: inherit;
	height: inherit;
	overflow: hidden;
	background-color: #000;
	/*display: none;*/
}
#videoAct1Loop, #videoAct2Loop, #videoAct3Loop, #videoAct4Loop, #videoAct5Loop {
	position: absolute;
	z-index: 980;
	min-width: 960px;
	height:100%;
	width: 100%;
	width: inherit;
	height: inherit;
	overflow: hidden;
	background-color: #000;
	/*display: none;*/
}
.overlayWrapper {
	height: inherit;
	width: inherit;
	position: absolute;
	z-index: 995;
	margin: 0 auto;
	bottom: 0;
	/*display: none;*/
}
.textOverlay {
	color: #fff;
	font-family: 'Interstate-Light';
	font-size: 30px;
	line-height: 42px;
	width: 55%;
	position: absolute;
	left: 5%;
	top: 5%;
	z-index: 998;
	/*-moz-text-shadow: 3px 3px 10px #000;
	-webkit-text-shadow: 3px 3px 10px #000;
	text-shadow: 3px 3px 10px #000;*/
}
#videoAct2TextSentence1, #videoAct2TextSentence2, #videoAct3TextSentence1, #videoAct3TextSentence2, #videoAct4TextSentence1, #videoAct4TextSentence2 {
	left: 5%;
	top: 10%;
	font-size: 32px;
	line-height: 40px;
}
.advanceSlide {
	position: absolute;
	z-index:999;
	bottom:-130px;
	left:0;
}
.advanceSlide:hover {
	cursor: pointer;
}


/*Progress Bar*/
.pauseDiamond rect {
	stroke: white;
	stroke-width: 2;
	fill: white;
	/*opacity: 0;*/
}




/*Staff Editorial*/
#editorialContent {
	width: 100%;
}
#editorialTitle {
	margin: 50px 50px 10px;
	font-size: 50px;
	color: #fff;
	font-family: 'Interstate-Thin';
	position: absolute;
	z-index: 985;
}
#editorialSubhead {
	margin: 25px 50px;
	font-size: 24px;
	color: #fff;
	font-family: 'Interstate-ThinCondensed';
	position: absolute;
	z-index: 985;
	margin-top: 125px;
}
.fellowPortrait {
	/*max-width: 215px;*/
	float: left;
	margin: 10px;
}
.fellowPortrait:hover {
	cursor: pointer;
}
#portraitWrapper {
	position: absolute;
	z-index: 985;
	margin-top: 190px;
	margin-left: 40px;
	width: 62%;
}
#editorialDivider {
	top: 0;
}
#editorialSVG {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 980;
	width: inherit;
	height: inherit;
}
#quoteWrapper {
	position: absolute;
	z-index: 985;
	margin-top: 200px;
}
.editorialQuote {
	font-family: 'Interstate-ThinCondensed';
	font-size: 28px;
	line-height: 36px;
}
.editorialQuoteAttribution {
	font-family: 'Interstate-RegularCondensed';
	float: right;
	font-size: 32px;
	padding-top: 25px;
}




/*Credits*/
#creditsContent {
	margin: 0 auto;
	overflow: scroll;
	font-family: 'Interstate-Light';
	height: 100%;
	width: 100%;
}
.sectionWrapper img {
		max-height: 30px;
		margin-top: 50px;
	}
#creditsLogo {
	height: 450px;
	margin-top: 50px;
}
	.creditWrapper {
		overflow: scroll;
		text-align: center;
		height: 3200px;
		margin: 0 auto;
	}
	.logoFunders {
		padding: 15px;
		max-height: 56px;
		float: left;
	}
	.sectionWrapper p {
		font-size: 30px;
		/*font-family: 'Interstate-Light';*/
		line-height: 36px;
	}
	.creditsRoles {
		font-size: 30px;
		font-family: 'Interstate-Thin';
	}
	.creditsLeft {
		text-align: right;
		float: left;
		margin-bottom: 50px;
		opacity: 0.8;
		font-family: 'Interstate-ExtraLight' !important;
	}
	.creditsRight {
		text-align: left;
		float: right;
		margin-bottom: 50px;
	}
	#leadershipRight {
		margin-right: 50px;
	}
	#leadershipLeft {
		margin-left: 15px;
		font-family: 'Interstate-ExtraLight' !important;
	}
	#coachesRight {
		margin-right: 60px;
	}
	#coachesLeft {
		margin-left: 55px;
	}
	.sectionWrapper {
		position: relative;
		width: 600px;
		margin: 0 auto;
	}
	#fellowsWrapper p {
		padding-bottom: 25px;
	}
	#contributorsWrapper {
		padding-top: 15px;
	}
	#musicWrapper {
		padding-top: 15px;
	}
	#leadershipWrapper {
		padding-top: 15px;
	}
	#coachesWrapper {
		padding-top: 15px;
	}
	#thanksWrapper {
		padding-top: 15px;
	}
	#divider {
		padding-top: 15px;
	}
	.logoFundersWrapper {
		margin: 0 auto 50px;
		width: 600px;
		padding: 10px;
	}
	#logoKnight {
		margin-top: 15px;
	}
	#logoJOMC {
		margin-left: 30px;
	}
